<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users version="1.0" 
              xmlns="http://tomcat.apache.org/xml" 
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd">

    <!-- Define los roles necesarios -->
    <role rolename="manager-gui"/>
    <role rolename="manager-script"/>

    <!-- Define un usuario con los roles necesarios -->
    <user username="admin" password="1992" roles="manager-gui,manager-script"/>
</tomcat-users>